name: Build project

on: workflow_dispatch

jobs:
  unityBuild:
    name: Build for ${{ matrix.targetPlatform }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        targetPlatform:
          - StandaloneWindows64 # Build a Windows 64-bit standalone.
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
      - uses: actions/cache@v2
        with:
          path: DeploymentTest/Library
          key: DeploymentTest/Library-${{ matrix.targetPlatform }}
          restore-keys: DeploymentTest/Library-
      - uses: game-ci/unity-builder@v2
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          targetPlatform: ${{ matrix.targetPlatform }}
          projectPath: DeploymentTest
          buildsPath: ./DeploymentTest_Build_Ubuntu/App
      - name: Grant patcher permissions.
        working-directory: DeploymentTest_Build_Ubuntu
        run: sudo chmod 777 ./MHLab.Patch.Admin
      - name: Run patcher build command.
        working-directory: DeploymentTest_Build_Ubuntu
        run: ./MHLab.Patch.Admin build
      - name: Run patcher patch command.
        working-directory: DeploymentTest_Build_Ubuntu
        run: ./MHLab.Patch.Admin patch
        
      

