name: Build & Deploy to S3

on: workflow_dispatch

env:
  PATCHER_PATH: PatcherWorkspace

jobs:
  unityBuild:
    name: Build for ${{ matrix.targetPlatform }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        targetPlatform:
          - StandaloneWindows64
          - StandaloneOSX
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      
      - uses: actions/cache@v3
        with:
          path: DeploymentTest/Library
          key: DeploymentTest/Library-${{ matrix.targetPlatform }}
          restore-keys: DeploymentTest/Library-
      
      - uses: game-ci/unity-builder@v2
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          targetPlatform: ${{ matrix.targetPlatform }}
          projectPath: DeploymentTest
          buildsPath: ./${{ env.PATCHER_PATH }}/App
      
#       - uses: dawidd6/action-download-artifact@v2
#         with:
#           workflow_conclusion: success
#           check_artifacts: true
#           name: builds-${{ matrix.targetPlatform }}
#           path: ${{ env.PATCHER_PATH }}/Builds
      
#       - uses: dawidd6/action-download-artifact@v2
#         with:
#           workflow_conclusion: success
#           check_artifacts: true
#           name: patches-${{ matrix.targetPlatform }}
#           path: ${{ env.PATCHER_PATH }}/Patches
      
      - name: Grant patcher permissions.
        working-directory: ${{ env.PATCHER_PATH }}
        run: sudo chmod 777 ./MHLab.Patch.Admin
      
      - name: Run patcher build command.
        working-directory: ${{ env.PATCHER_PATH }}
        run: ./MHLab.Patch.Admin build
      
      - name: Run patcher patch command.
        working-directory: ${{ env.PATCHER_PATH }}
        run: ./MHLab.Patch.Admin patch -c 9
        
      - name: Run patcher cleanUp command.
        working-directory: ${{ env.PATCHER_PATH }}
        run: ./MHLab.Patch.Admin cleanUp
      
      - uses: actions/upload-artifact@v3
        with:
          name: builds-${{ matrix.targetPlatform }}
          path: ${{ env.PATCHER_PATH }}/Builds

      - uses: actions/upload-artifact@v3
        with:
          name: patches-${{ matrix.targetPlatform }}
          path: ${{ env.PATCHER_PATH }}/Patches
        
      

